{% extends "users/base.html" %}
{% load static %}
{% block title %}Login Page{% endblock title %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<main>
  <div class="box">
    <div class="inner-box">
      <div class="forms-wrap">
        <!-- Login Form -->
        <form class="sign-in" method="POST" autocomplete="off">
          {% csrf_token %}
          <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="">
            <h3><span>coinclip</span></h3>
          </div>
          <div class="heading">
            <h2>Entrar</h2>
            <small>Ainda não registrado?</small>
            <a class="toggle" href="#">Cadastre-se</a>
            
          </div>
          <div class="form-labels">
            <div class="input-wrap">
              {{ login_form.username }}
              <label class="form-label" for="{{ login_form.username.id_for_label }}">Usuário</label>
            </div>
            <div class="input-wrap">
              {{ login_form.password }}
              <label class="form-label" for="{{ login_form.password.id_for_label }}">Senha</label>
            </div>
            <input type="submit" class="sign-btn" name="submit_login" value="Login">
          </div>
        </form>

        <!-- Cadastro (Register) Form -->
        <form class="sign-up" method="POST" autocomplete="off">
          {% csrf_token %}
          <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="">
            <h3><span>coinclip</span></h3>
          </div>
          <div class="heading">
            <h2>Cadastre-se</h2>
            <small>Já possui uma conta?</small>
            <a class="toggle" href="#">Entre</a>
          </div>
          <div class="form-labels">
            <div class="input-wrap">
              {{ register_form.first_name }}
              <label class="form-label" for="{{ register_form.first_name.id_for_label }}">Nome</label>
            </div>
            <div class="input-wrap">
              {{ register_form.last_name }}
              <label class="form-label" for="{{ register_form.last_name.id_for_label }}">Sobrenome</label>
            </div>
            <div class="input-wrap">
              {{ register_form.username }}
              <label class="form-label" for="{{ register_form.username.id_for_label }}">Usuário</label>
            </div>
            <div class="input-wrap">
              {{ register_form.email }}
              <label class="form-label" for="{{ register_form.email.id_for_label }}">Email</label>
            </div>
            <div class="input-wrap">
              {{ register_form.password1 }}
              <label class="form-label" for="{{ register_form.password1.id_for_label }}">Senha</label>
            </div>
            <div class="input-wrap">
              {{ register_form.password2 }}
              <label class="form-label" for="{{ register_form.password2.id_for_label }}">Confirme sua senha</label>
            </div>
            <input type="submit" class="sign-btn" name="submit_register" value="Cadastre-se">
          </div>
        </form>
      </div>
      <div class="image">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" alt="">
      </div>
    </div>
  </div>
</main>
<script>
  const inputs = document.querySelectorAll(".input-field");
  const toggle_btn = document.querySelectorAll(".toggle");
  const main = document.querySelector("main");

  inputs.forEach((inp) => {
    inp.addEventListener("focus", () =>{
      inp.classList.add("active");
    });
    inp.addEventListener("blur", () => {
      if(inp.value != "") return;
      inp.classList.remove("active")
    });
  })

  toggle_btn.forEach((btn) => {
    btn.addEventListener("click", () => {
      main.classList.toggle("sign-up-mode");
    });
  });
</script>
{% endblock content %}